*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
scroll-behavior:smooth;
}

body{
background:#fff;
color:#333;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(180,50,120,0.6),rgba(120, 20, 80, 0.5))
    ,url(IMAGES/img7.jpg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
.logo {
  width: 50px;   
  height: auto;
}
}
nav{
    display:flex;
    padding: 20px 6%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 300px;
    height: 300px;
}
.nav-links ul li{
list-style:none;
display:inline-block;
padding:8px 12px;
}

.nav-links ul li a{
color:white;
text-decoration:none;
font-size:14px;
}
/* NAV HOVER EFFECT */

.nav-links ul li::after{
content:'';
width:0%;
height:2px;
background:#ffc0cb;
display:block;
margin:auto;
transition:0.5s;
}

.nav-links ul li:hover::after{
width:100%;
}

.text-box{
width:90%;
color:white;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

.text-box h1{
font-size:50px;
}

.text-box h2{
font-size:24px;
margin-bottom:10px;
}

.hero-btn{
display:inline-block;
text-decoration:none;
color:white;
border:1px solid white;
padding:10px 25px;
margin-top:20px;
}

.hero-btn:hover{
background:pink;
}

.welcome{
width:80%;
margin:auto;
text-align:center;
padding-top:60px;
}
.welcome h1{
font-size:36px;
margin-bottom:20px;
}

.welcome p{
line-height:1.6;
}


.programs{
width:80%;
margin:auto;
text-align:center;
padding-top:60px;
}

.programs h1{
font-size:36px;
margin-bottom:30px;
}

.row{
margin-top:5%;
display:flex;
justify-content:space-between;
}

.program-col{
flex-basis:30%;
background:#ffe4ec;
padding:20px;
border-radius:10px;
transition:0.4s;
}

.program-col h2{
margin-bottom:10px;
}

.program-col:hover{
box-shadow:0 0 20px rgba(0,0,0,0.2);
}

/* ABOUT / GENERAL CONTENT */

.content{
width:80%;
margin:auto;
text-align:center;
padding:70px 0;
}

.content h1{
font-size:36px;
margin-bottom:20px;
}

.content h3{
margin-top:20px;
font-size:22px;
}

.content p{
margin-top:10px;
line-height:1.6;
}


/* GALLERY */

.gallery{
width:80%;
margin:auto;
text-align:center;
padding:60px 0;
}

.gallery h1{
font-size:36px;
margin-bottom:30px;
}

.gallery img{
width:30%;
margin:10px;
border-radius:10px;
transition:0.3s;
}

/*Achievements Section */

.achievements{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 60px 0;
}

.achievements img{
    width:30%;
margin:10px;
border-radius:10px;
transition:0.3s;
}




/* CONTACT SECTION */

.contact{
width:80%;
margin:auto;
text-align:center;
padding:60px 0;
}

.contact h1{
font-size:36px;
margin-bottom:20px;
}

.contact p{
margin:8px 0;
}


/* DEVELOPERS SECTION */

.developers{
width:80%;
margin:auto;
text-align:center;
padding:60px 0;
}

.developers ul{
list-style:none;
margin-top:15px;
}

.developers ul li{
margin:6px 0;
}


/* FOOTER */

.footer{
text-align:center;
padding:40px;
background:#111;
color:white;
margin-top:40px;
}

.footer h4{
margin-bottom:10px;
}


/* MOBILE RESPONSIVE */

@media(max-width:700px){

.text-box h1{
font-size:32px;
}

.row{
flex-direction:column;
}

.program-col{
margin-bottom:20px;
}

.gallery img{
width:80%;
}

.backToTop{
margin: auto;
}
